<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8"/>
    <title>Author detail</title>
</head>
<body>

<div th:include="fragments/navBar">Navigation bar</div>

<form id="edit-form" th:object="${author}" th:action="@{'/authors/' + ${author.id} + '/edit'}" th:method="post"
      action="detail.html">
    <h1>Author detail:</h1>

    <div class="row">
        <label for="id-input">ID:</label>
        <input id="id-input" type="text" readonly="readonly" th:field="*{id}" value="1"/>
    </div>

    <div class="row">
        <label for="holder-input">Name:</label>
        <input id="holder-input" name="name" type="text" th:field="*{name}" value="John Doe"/>
    </div>

    <div class="row">
        <button type="submit">Save</button>
    </div>
</form>

<form id="delete-form" th:object="${author}" th:action="@{'/authors/' + ${author.id}}" th:method="delete">
    <button type="submit">Delete</button>
</form>

<table class="books">
    <thead>
    <tr>
        <th>ID</th>
        <th>ISBN</th>
        <th>Title</th>
        <th>Year</th>
        <th>Publisher</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="book : ${books}">
        <td th:text="${book.id}">1</td>
        <td th:text="${book.isbn}">1-2-3-4</td>
        <td><a th:href="@{'/books/' + ${book.id}}" th:text="${book.title}" href="../book/detail.html">Book title</a>
        </td>
        <td><a th:href="@{/books/(year=${book.id})}" th:text="${book.year}" href="../book/list.html">1973</a></td>
        <td><a th:href="@{'/publishers/' + ${book.publisher.id}}" th:text="${book.publisher.name}"
               href="publisher/detail.html">Microsoft press</a></td>
    </tr>
    </tbody>
</table>
<div th:include="fragments/footer">Footer</div>
</body>
</html>
