<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>

<h2>Login</h2>

<form style="width: 500px" method="post">
    <h3>Invalid password or username</h3>
    <label for="usernameInput">Username</label>
    <input type="text" name="username" id="usernameInput" placeholder="Enter username">
    <label for="passwordInput">Password</label>
    <input type="password" name="password" id="passwordInput" placeholder="Password">
    <button type="submit">Submit</button>
</form>

</body>
</html>